run = "npm run dev"
entrypoint = "server/index.ts"
modules = ["nodejs-20"]
[nix]
channel = "stable-24_05"
[persistence]
mounts = ["/home/runner/.npm"]
[env]
NODE_ENV = "development"

[[ports]]
localPort = 5000
externalPort = 80
